@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 9% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 9% 2%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 9% 2%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 210 30% 96.1%;
    --accent-foreground: 222.2 37.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 84%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 240 9% 2%;
      --foreground: 0 0% 96.2%;
      --card: 240 9% 2%;
      --card-foreground: 0 0% 98%;
      --popover: 240 9% 2%;
      --popover-foreground: 0 0% 98%;
      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 217.2 22.6% 17.5%;
      --accent-foreground: 210 30% 98%;
      --destructive: 0 62.8% 36.7%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 3.7% 24%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  * {
    @apply border-border/80 bg-transparent;
  }
  html {
    scroll-behavior: smooth;
    @apply bg-muted/60 antialiased h-full;
  }
  body {
    @apply text-foreground max-w-full w-full h-full overflow-x-hidden;
  }

  #root {
    @apply h-full w-full;
  }

  header {
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    @apply fixed top-0 inset-x-0 border-b z-50;
  }

  header .toolbar {
    -webkit-app-region: no-drag;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: hsl(var(--muted-foreground)) hsl(var(--muted));
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: hsl(var(--muted) / 0);
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted-foreground));
    border-radius: 10px;
    border: 3px solid hsl(var(--muted));
  }
}

@layer components {
  input[type='number'].hide-number-arrow::-webkit-inner-spin-button,
  input[type='number'].hide-number-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'].hide-number-arrow {
    -moz-appearance: textfield;
  }
}
